/**********
The core styles file
**********/

@import "theme.scss";
@import "components.scss";

// Tags
body {
  padding: 0px;
  margin: 0px;

  //colors
  background-color: var(--color-bg-1);
  color: var(--color-body-text);
}

ul {
  margin: 0px;
}

ol {
  margin: 0px;
}

a {
  color: var(--color-link-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  color: var(--color-title-text);
}

h1 {
  margin: 0rem 0rem 1rem 1 * $heading-indent-multiplier;
  font-size: 200%;
}

h2 {
  margin: 0rem 0rem 1rem 2 * $heading-indent-multiplier;
}

h3 {
  margin: 0rem 0rem 1rem 3 * $heading-indent-multiplier;
}

h4 {
  margin: 0rem 0rem 1rem 4 * $heading-indent-multiplier;
}

main {
  article {
    margin: 0rem 2rem;
  }
}

table {
  p {
    background-color: inherit;
    margin: inherit;
  }

  thead {
    margin: 0px;
    background-color: var(--color-bg-2);
    td {
      border-bottom: 0.3rem solid var(--color-border-2);
    }
  }

  tbody {
    td {
      border-bottom: 0.1rem solid var(--color-border-2);
      padding: 0.1rem 0rem;
    }
  }

  margin: 2rem;
}

footer {
  width: 100vw;
  margin: 0px;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  section > p {
    margin: 0px;
    padding: 0px;
  }

  background-color: var(--color-bg-3);
}

// classes

.tpage {
  .large-nav {
    display: none;
  }
}

@media (min-width: $breakpoint-medium) {
  .tpage {
    display: flex;

    .large-nav {
      display: block;
      flex: 1;
    }
    article {
      flex: 3;
      padding-top: 1rem;
    }
  }
}

// the link to the next page is styled like its a button
.next-page-link {
  display: block;
  margin: 1rem  1rem 1rem auto;

  width: 30%;
  min-width: 10rem;
  padding: 1rem;
  border: 0.2rem solid var(--color-border-1);
  border-radius: 0.5rem;
  font-size: 120%;

  &:hover {
    background-color: var(--color-bg-2);
  }
}

.split {
  display: flex;
}

// elements

#site-title {
  color: purple;
}
