nav(class="large-nav")
  h4 Nick's Nix Tutorial
  ol
    li
      a(href="/index.html") Home
    li
      a(href="/p1-nix-language.html") 
        strong 1. 
        span Nix and the Nix Language
      div(class="collapsible-nav")
        ol
          li
            a(href="/p1-nix-language.html#header-whats-nix")
              span What can Nix do?
    li
      a(href="/p2-installing-nix.html") 
        strong 2. 
        span Install NixOS
    li
      a(href="/p3-making-your-desktop.html")
        strong 3. 
        span Making Your Desktop
    li
      a(href="/p4-living-with-nix.html") 
        strong 4. 
        span Living With Nix
    li
      a(href="/wayland-is-fun.html") Wayland Fun!
    li
      a(href="/references.html") Resources, References, and Reading

