nav(class="large-nav")
  ul
    li
      a(href="/index.html") Home
    li
      a(href="/p1-nix-langauge.html") Part 1 - Nix and the Nix Language
    li
      a(href="/p2-installing-nix.html") Part 2 - Install NixOS
    li
      a(href="/p3-making-your-desktop.html") Part 3 - Making Your Desktop
    li
      a(href="/p4-living-with-nix.html") Part 4 - Living With Nix
    li
      a(href="/wayland-is-fun.html") Wayland Fun!
    li
      a(href="/references.html") Resources, References, and Reading

