section
  ul
    li
      a(href="/index.html") Home
    li
      a(href="/p1-nix-language.html") 
        strong 1. 
        span Nix and the Nix Language
      div(class="collapsible-nav")
        ul
          li
            a(href="/p1-nix-language.html#heading-whats-nix")
              span What can Nix do?
          li
            a(href="/p1-nix-language.html#heading-local-install")
              span Running Nix locally
          li
            a(href="/p1-nix-language.html#heading-nix-expr")
              span The Nix expression language
          li
            a(href="/p1-nix-language.html#heading-nix-packages")
              span Nix Packages
          li
            a(href="/p1-nix-language.html#heading-nix-flakes")
              span Nix Flakes
    li
      a(href="/p2-installing-nix.html") 
        strong 2. 
        span Install NixOS
      div(class="collapsible-nav")
        ul
          li
            a(href="/p2-installing-nix.html#heading-os-config")
              span A NixOS config
          li
            a(href="/p2-installing-nix.html#heading-os-vm")
              span Nix in a Virtual Machine
          li
            a(href="/p2-installing-nix.html#heading-os-partitioning")
              span Partitioning
          li
            a(href="/p2-installing-nix.html#heading-os-bootstrap")
              span Bootstrapping your config
    li
      a(href="/p3-making-your-desktop.html")
        strong 3. 
        span Making Your Desktop
      div(class="collapsible-nav")
        ul
          li
            a(href="/p3-making-your-desktop.html#heading-hm-intro")
              span Home Manager Introduction
          li
            a(href="/p3-making-your-desktop.html#heading-wayland-flake")
              span A Home Manager Flake
          li
            a(href="/p3-making-your-desktop.html#heading-flatpak")
              span Flatpak
    li
      a(href="/p4-living-with-nix.html") 
        strong 4. 
        span Living With Nix
      div(class="collapsible-nav")
        ul
          li
            a(href="/p4-living-with-nix.html#heading-updates")
              span Updating NixOS
          li
            a(href="/p4-living-with-nix.html#heading-disk-space")
              span Preserving Disk Space
    li
      a(href="/wayland-is-fun.html") Wayland Fun!
    li
      a(href="/references.html") Resources, References, and Reading