doctype html
html(lang="en")
  head
    block title
    meta(charset='UTF-8')

    // my resources
    script(src="/scripts/shared.js")
    link(rel='stylesheet', href='/styles/styles.css')

  body(data-theme="light")
    block content
    include footer