doctype html
html(lang="en")
  head
    block title
    meta(charset='UTF-8')

    // my resources
    script(src="/scripts/quiz.js")
    link(rel='stylesheet', href='/styles/styles.css')

  body
    block content
