extends ./components/scaffold.pug

block title
  title Nick's Nix Tutorial Site

block content
  article
    h1(id="site-title") Nick's Nix Tutorial Site

    section(class="split")

      article
        :markdown-it
          ## Who Am I

      article 
        :markdown-it
          ## Who Are You?

    section
      h2 The tutorial


