extends ./components/scaffold.pug

block title
  title Nix and the Nix Langauge

block content
  main(class="tpage")
    include components/large-nav
    article
      h1 Nix and the Nix Expression Langauge
      p Part 1...

      section(id="heading-whats-nix")
        h2 What can Nix do?

      section(id="heading-nix-expr")
        h2 The Nix Expression Langauge

      section(id="heading-nix-packages")
        h2 Nix Packages

      section(id="heading-nix-flakes")
        h2 Nix Flakes

