extends ./components/scaffold.pug

block title
  title Nix and the Nix Langauge

block content
  main(class="tpage")
    include components/large-nav
    article
      h1 Nix and the Nix Expression Langauge
      p Part 1...
      
      h2 What can Nix do?
      
      h2 The Nix Expression Langauge
      
      h2 Nix Packages
      
      h2 Nix Flakes
