extends ./components/scaffold.pug

block title
  title Living With Nix

block content
  main(class="tpage")
    include components/large-nav
    article
      h1 Living with Nix OS

      h2 General Tips

      h2 Updating

      h2 Disk Space